    *{
    margin: 0;
    padding: 0;
}


#corps{
    background-color: darkgray;
    height: 60%;
    width: 45%;
    margin: auto;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    padding: 20px;
    margin-top: 5%;
    min-width: 500px;
    
}

.bouton {
    background-color: white;
    border: 1px solid black;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}

.bouton:hover {
    background-color: #e6e6e6;
}

.clavier {
    display: grid;
    grid-template-columns: repeat(6,1fr);
    height: 60%;

}

#affichage{
    background-color: white;
    border-radius: 0px 0px 12px 12px;
    border:solid black;
    border-width: 0px 1px 1px 1px;
    text-align: left;
    height: 7vw; 
    font-size: 30px;
    margin-bottom: 20px;
}

#calcul{
    float: left;
    order: 1;
    margin: 0px 5px;
}

#previous{
    background-color: white;
    border-radius:12px 12px 0px 0px;
    border: 1px solid black;
    height: 7vw;;    
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: end;
}

#prevCalc{
    float: left;
    order: 1;
    margin: 0px 5px;
}

#equal{
    float: right;
    order: 2;
    margin: 0px 5px;
}

#resultat{
    float: right;
    order: 3;
    margin: 0px 5px;
}


#bouton7 {
    grid-column: 1;
    grid-row: 1;
}

#bouton8 {
    grid-column: 2;
    grid-row: 1;
}

#bouton9 {
    grid-column: 3;
    grid-row: 1;
}

#boutonDiv {
    grid-column: 4;
    grid-row: 1;
}

#boutonC {
    grid-column: 6;
    grid-row: 1;
}

#bouton4 {
    grid-column: 1;
    grid-row: 2;
}

#bouton5 {
    grid-column: 2;
    grid-row: 2;
}

#bouton6 {
    grid-column: 3;
    grid-row: 2;
}   

#boutonFois {
    grid-column: 4;
    grid-row: 2;
}

#boutonPg{
    grid-column: 5;
    grid-row: 2;
}

#boutonPd{
    grid-column: 6;
    grid-row: 2;
}

#bouton1 {
    grid-column: 1;
    grid-row: 3;
}

#bouton2 {
    grid-column: 2;
    grid-row: 3;
}

#bouton3 {
    grid-column: 3;
    grid-row: 3;
}

#boutonMoins {
    grid-column: 4;
    grid-row: 3;
}

#bouton0 {
    grid-column: 1;
    grid-row: 4;
}

#boutonPoint {
    grid-column: 2;
    grid-row: 4;
}

#boutonPlus {
    grid-column: 4;
    grid-row: 4;
}

#boutonEgal {
    grid-column: 5/7;
    grid-row: 4;
    background-color: #11de33;
}

#boutonEgal:hover {
    background-color: #0dbb2a;
}